* {
    margin: 0;
    padding: 0;
    
    
  
}
body{
    margin: 10px;
    background-color: rgba(218, 165, 32, 0.671);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid black;

}
nav{
    display: grid;
    margin: 15px 15px;
    width: 50%;
    height: 20%;
}

.contenedorLogo img{
    width: 150px;
    height: 130px;
    border-radius: 12rem;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

}
li {
    border: none;
    padding: .2rem .4rem;
    text-align: center;
    background-color: rgb(138, 29, 29);
    color: rgb(253, 253, 253);
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .25rem;
}
a{
    color: rgb(255, 255, 255);
    outline: none;
    text-decoration: none;
}
li:hover{
    box-shadow:10px 10px 5px rgb(235, 65, 65);
}
.contenedorDeOfertas{
    display: flex;
    flex-direction: row;

}

.contenedorDeOfertas img{
    height: 40%;
    width: 40%;
}
main{
    margin: 0px 30px;
}
.inicio{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
section img{
    height: 70%;
    width: 70%;

}
section img:hover{
    box-shadow:10px 10px 5px lightblue;
}
.quienesSomos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.contenedorFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: .25rem;
    background-color: #f8f8f8;


}
.enviarForm{

    border: 3px solid darkgreen;
    background-color: darkolivegreen;
    color: rgb(255, 255, 255);
    border-radius: .25rem;
    margin-top: 5px;
    width: 50px;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: .25rem;
    background-color: #f8f8f8;
    resize: none;
}

footer{
    border-top: 2px solid black;
    display: flex;
    margin: .5rem;
    justify-content:space-around;

    
}
.footerDiv{
    margin-top: 10px;
    padding: 2px;
}
footer img{
    height: 30px;
    width: 30px;
}

