body {
  display: grid;
  grid-template-areas: "header header header" "cont cont cont" "footer footer footer";
  grid-template-rows: 0.3fr 3fr 0.3fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  background-color: rgba(218, 165, 32, 0.671); }
  body header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid black; }
    body header .contenedorLogo img {
      width: 150px;
      height: 130px;
      border-radius: 12rem;
      margin: 3px; }
    body header .navbar {
      display: grid;
      margin: 15px 15px;
      width: 50%;
      height: 20%; }
      @media screen and (min-width: 768px) {
        body header .navbar {
          width: 80%; } }
      body header .navbar .collapse .columna {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none; }
        body header .navbar .collapse .columna li {
          border: none;
          padding: .2rem .4rem;
          text-align: center;
          background-color: #8a1d1d;
          color: white;
          text-decoration: none;
          list-style: none;
          display: inline-block;
          font-size: 16px;
          border-radius: .25rem; }
          body header .navbar .collapse .columna li a {
            color: white;
            outline: none;
            text-decoration: none; }
          body header .navbar .collapse .columna li:hover {
            box-shadow: 10px 10px 5px #eb4141; }
        @media screen and (max-width: 767px) {
          body header .navbar .collapse .columna {
            display: flex;
            flex-direction: column; } }
  body .inicio {
    display: flex;
    grid-area: cont;
    margin: 0px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  body footer {
    grid-area: footer;
    border-top: 2px solid black;
    display: flex;
    margin: .5rem;
    justify-content: space-around; }
    body footer .footerDiv {
      margin-top: 10px;
      padding: 2px; }
      body footer .footerDiv img {
        height: 30px;
        width: 30px; }

.carousel {
  width: 500px;
  height: 400px; }

.contenedorDeOfertas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  row-gap: 30px; }
  @media screen and (max-width: 767px) {
    .contenedorDeOfertas {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 768px) {
    .contenedorDeOfertas {
      margin-top: 10px;
      grid-template-columns: 1fr 1fr; } }
  .contenedorDeOfertas .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 450px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif; }
    @media screen and (min-width: 768px) {
      .contenedorDeOfertas .tarjetas {
        width: 360px; } }
    .contenedorDeOfertas .tarjetas .titulo {
      margin-top: 2px;
      font-size: 24px;
      padding: 10px 10px 0 10px;
      margin-bottom: 4px; }
    .contenedorDeOfertas .tarjetas .cuerpo {
      padding: 10px;
      height: auto; }
    .contenedorDeOfertas .tarjetas .pie {
      background: #6699ff;
      border-radius: 0 0 15px 15px;
      padding: 10px;
      text-align: center;
      margin-bottom: 3px; }
      .contenedorDeOfertas .tarjetas .pie a {
        text-decoration: none;
        color: white; }
  .contenedorDeOfertas .imgOfertas {
    width: 60%;
    height: 60%; }

.quienesSomos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .quienesSomos section img {
    height: 70%;
    width: 70%; }
    .quienesSomos section img:hover {
      box-shadow: 10px 10px 5px lightblue; }

.contenedorFormulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%; }
  .contenedorFormulario .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: .25rem;
    background-color: white; }

.enviarForm {
  border: 3px solid darkgreen;
  background-color: darkolivegreen;
  color: white;
  border-radius: .25rem;
  margin-top: 5px;
  width: 60px; }

.formPedidos textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: .25rem;
  background-color: white;
  resize: none; }
