$colorFondo: rgba(218, 165, 32, 0.671);
$fondoDeItemLista: rgb(138, 29, 29);
$sombraDeLiHover: rgb(235, 65, 65);
$fondeDeTrajetaBooton: #6699ff;

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "cont cont cont"
        "footer footer footer";
    grid-template-rows: 0.3fr 3fr 0.3fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    background-color: $colorFondo;

    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 2px solid black;

        .contenedorLogo {

            img {
                width: 150px;
                height: 130px;
                border-radius: 12rem;
                margin: 3px;
            }
        }

        .navbar {
            display: grid;
            margin: 15px 15px;
            width: 50%;
            height: 20%;
            @media screen and (min-width: 768px) {
                width: 80%;
            }

            .collapse {
                .columna {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    list-style: none;

                    li {
                        border: none;
                        padding: .2rem .4rem;
                        text-align: center;
                        background-color: $fondoDeItemLista;
                        color: white;
                        text-decoration: none;
                        list-style: none;
                        display: inline-block;
                        font-size: 16px;
                        border-radius: .25rem;

                        a {
                            color: white;
                            outline: none;
                            text-decoration: none;
                        }

                        &:hover {
                            box-shadow: 10px 10px 5px $sombraDeLiHover;
                        }
                    }
                    @media screen and (max-width: 767px) {
                        display: flex;
                        flex-direction: column;

                    }
                }

            }
        }
    }
    .inicio {
        display: flex;
        grid-area: cont;
        margin: 0px 30px;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    footer {
        grid-area: footer;
        border-top: 2px solid black;
        display: flex;
        margin: .5rem;
        justify-content: space-around;

        .footerDiv {
            margin-top: 10px;
            padding: 2px;

            img {
                height: 30px;
                width: 30px;
            }

        }
    }
}

// inicio del index.html
.carousel{
    width: 500px;
    height: 400px;
}
.contenedorDeOfertas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 30px;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: 768px) {
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;

    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 420px;
        height: 450px;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;

        @media screen and (min-width: 768px) {
            width: 360px;

        }

        .titulo {
            margin-top: 2px;
            font-size: 24px;
            padding: 10px 10px 0 10px;
            margin-bottom: 4px;
        }

        .cuerpo {
            padding: 10px;
            height: auto;
        }

        .pie {
            background: $fondeDeTrajetaBooton;
            border-radius: 0 0 15px 15px;
            padding: 10px;
            text-align: center;
            margin-bottom: 3px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .imgOfertas {
        width: 60%;
        height: 60%;
    }

}
// inicio de productos.html



// inicio de quienes-somos.html

.quienesSomos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
    section {
        img {
            height: 70%;
            width: 70%;
    
            &:hover {
                box-shadow: 10px 10px 5px lightblue;
            }
        }
    }

    article {
        p {}
    }
}

// inicio de crear-cuenta.html
.contenedorFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: .25rem;
        background-color: white;
    }
}

// comparte esta class en el html de pedidos
.enviarForm{ 

    border: 3px solid darkgreen;
    background-color: darkolivegreen;
    color: white;
    border-radius: .25rem;
    margin-top: 5px;
    width: 60px;
}

//inicio de pedidos.html

.formPedidos {
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: .25rem;
        background-color: white;
        resize: none;
    }
}